$brand: #2196f3;
$white: #ffffff;
$text: #757575;
$body: #212121;
$black: #000000;
$portfolioBtnBg: #f5f4fa;
$footerContact: rgba(255, 255, 255, 0.6);
$ourTeamBg: #f5f4fa;
$footerBg: #2f303a;
$portfolioFigcaptionBorder: #eeeeee;
$footerSocialBg: rgba(255, 255, 255, 0.1);
$headerBorder: #ececec;
$heroBgGradient: rgba(47, 48, 58, 0.4);
$ourStrenghtsIconBg: #f5f4fa;
$ourTeamOurClientsIconFill: #afb1b8;
$whatWeDoImgTitleBg: rgba(47, 48, 58, 0.8);
$portfolioCardsBg: rgba(33, 150, 243, 0.9);
$modalBackdrop: rgba(0, 0, 0, 0.2);
$modalCloseBtnBorder: rgba(0, 0, 0, 0.1);
$newsletterInputBorder: rgba(255, 255, 255, 0.3);
$newsletterPlaceholder: rgba(255, 255, 255, 0.6);
$orderInputPlaceholder: rgba(33, 33, 33, 0.2);
$orderTextareaPlaceholder: rgba(117, 117, 117, 0.5);

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);
