.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;

  &--hero {
    color: $white;
    background-color: $brand;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    transition-property: background-color, color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      background-color: $white;
      color: $brand;
    }
  }

  &--modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    border: 1px solid $modalCloseBtnBorder;
    background-color: $white;
    padding: 0;
    font-size: 0;
  }

  &--portfolio {
    background: $portfolioBtnBg;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    padding: 6px 22px;
    transition-property: background-color, color, box-shadow;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:focus,
    &:hover {
      background: $brand;
      color: $white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &--newsletter {
    background-color: $brand;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    transition-property: background-color, color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    &:hover,
    &:focus {
      background-color: $white;
      color: $brand;
    }
  }

  &--order {
    width: 200px;
    height: 50px;
    background-color: $brand;
    color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 2px solid $brand;
    transition-property: background-color, color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      background-color: $white;
      color: $brand;
    }
  }

  &--hamburger {
    font-size: 0;
    background-color: $white;
  }

  &--mobile-menu-close {
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: $white;
    padding: 0;
    font-size: 0;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      fill: $brand;
    }
  }
}

@media (min-width: 768px) {
  .btn--hamburger {
    display: none;
  }
  .btn--order {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .btn--newsletter {
    margin-left: 12px;
  }
}
