.footer {
  background-color: $footerBg;
  padding: 60px 0;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__address {
    padding-top: 20px;
    font-style: normal;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__company-address {
    color: $white;
    font-size: 14px;
    line-height: 1.14;
  }

  &__contact-link {
    color: $footerContact;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition-property: color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:focus,
    &:hover {
      color: $brand;
    }

    &--mail {
      text-decoration: underline;
    }
  }

  &__join-us {
    margin-top: 60px;
  }

  &__titles {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    display: block;
  }

  &__social-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__social {
    font-size: 0;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      background-color: $brand;
    }
  }

  &__social-icon {
    background-color: $footerSocialBg;
    fill: $white;
    border-radius: 50%;
  }

  &__label-container {
    margin-top: 60px;
    display: block;
  }

  &__input {
    background-color: $footerBg;
    border: 1px solid $newsletterInputBorder;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white;
    padding: 15px 16px;
    width: 100%;

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: $newsletterPlaceholder;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__btn-icon {
    fill: $white;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    .btn--newsletter:hover &,
    .btn--newsletter:focus & {
      fill: $brand;
    }
  }
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__input {
    width: 450px;
  }
  .footer__join-us {
    margin-top: 0;
  }
  form[name="newsletter"] {
    margin: 0 200px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
  }
  .footer__join-us {
    margin-top: 12px;
  }
  .footer__label-container {
    margin-top: 12px;
    display: inline-block;
  }
  .footer__input {
    width: 358px;
  }
  form[name="newsletter"] {
    margin: 0;
  }
}
