.header {
  border-bottom: $headerBorder solid 1px;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    gap: 46px;
    align-items: center;
    padding-left: 93px;
    display: none;
  }

  &__nav-item {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition-property: color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:focus,
    &:hover {
      color: $brand;
    }

    &--line {
      color: $brand;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(45px);
        height: 4px;
        border-radius: 2px;
        background-color: $brand;
      }
    }
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
  }

  &__contact-link {
    display: flex;
    gap: 10px;
    color: $text;
    align-items: center;
    fill: $text;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition-property: color, fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      color: $brand;
      fill: $brand;
    }
  }

  &__hamburger {
    fill: $body;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &:hover,
    &:focus {
      fill: $brand;
    }
  }
}

@media (min-width: 768px) {
  .header__container {
    padding: 18px 15px;
  }
  .header__contact-list {
    display: flex;
  }
  .header__nav-list {
    display: flex;
  }
  .header__nav-item--line:after {
    transform: translateY(44px);
  }
}

@media (min-width: 1200px) {
  .header__container {
    padding: 24px 15px;
  }
  .header__contact-list {
    flex-direction: row;
    gap: 50px;
  }
  .header__nav-item--line:after {
    transform: translateY(45px);
  }
}
