.hero {
  background-image: linear-gradient($heroBgGradient, $heroBgGradient),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 200px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  &__content {
    text-align: center;
    width: 696px;
  }

  &__title {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
  }
}
