.order-form {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: inherit;
  text-align: center;

  &__container {
    text-align: center;
  }

  &__label {
    display: block;
    margin-bottom: 3px;
    width: 100%;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 15px;
    top: 25px;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    .order-form__label:focus-within & {
      fill: $brand;
    }
  }

  &__input-title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $text;
    display: block;
    text-align: left;
  }

  &__input {
    width: 100%;
    border: 1px solid $orderInputPlaceholder;
    border-radius: 4px;
    color: inherit;
    padding: 9px 12px 9px 42px;
    outline: none;
    transition-property: border;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    .order-form__label:focus-within & {
      border: 1px solid $brand;
    }
  }

  &__textarea {
    resize: none;
    border: 1px solid $orderInputPlaceholder;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    outline: none;
    transition-property: border;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: $orderTextareaPlaceholder;
    }

    &:focus {
      border: 1px solid $brand;
    }
  }

  &__checkbox-input {
    margin-right: 5px;
    appearance: none;
  }

  &__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text;
    position: relative;
  }

  &__checkbox-icon {
    position: absolute;
    fill: $white;
    border: 2px solid $body;
    border-radius: 3px;
    left: -23px;
    top: 0;
    transition-property: fill;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    cursor: pointer;

    .order-form__checkbox-input:checked + .order-form__checkbox-text & {
      fill: $brand;
      border: none;
    }
  }

  &__link {
    text-decoration: underline;
    color: $brand;
  }
}

@media (min-width: 768px) {
  .order-form {
    margin-bottom: 12px;

    &__label {
      margin-bottom: 10px;
    }

    &__icon {
      top: 30px;
    }

    &__input-title {
      margin-bottom: 4px;
    }

    &__input {
      padding: 11px 12px 11px 42px;
    }
  }
}

@media (min-width: 1200px) {
  .order-form {
    line-height: 1.15;
  }
}
