.our-strengths {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__icon {
    background-color: $ourStrenghtsIconBg;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  &__titles {
    color: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
  }

  &__text {
    color: $text;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 768px) {
  .our-strengths {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media (min-width: 1200px) {
  .our-strengths {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
