.our-strengths {
  display: flex;
  gap: 30px;

  &__icon {
    background-color: $ourStrenghtsIconBg;
    margin-bottom: 30px;
  }

  &__titles {
    color: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
  }

  &__text {
    color: $text;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
